#inf{
    float: left;
    text-align:center;
    text-align: left;
    margin-top: 2em;
    border-right: 10em;
    border-color: darkgreen;
    border-width: 5px;

}
#button{
     float: left;
 }
#my_posts{
    float: left;
    margin-left: 10em;
    text-align:center;
}
#all_posts{
    float: left;
    margin-left: 10em;
    text-align:center;
}
#post{
    float: bottom;
}

body{
    background-color: #F5FFFA;
}
li{
    text-align: left;
}